# 종합소득세 계산하기

A라는 나라에서는 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용됩니다.

<img width="628" alt="Screen Shot 2019-07-18 at 5 48 05 PM" src="https://user-images.githubusercontent.com/52446416/61443335-40d52b00-a984-11e9-8163-8080ce7ab6c6.png">

|과세표준액|세율|
|-------|---|
|1,200이하|6%|
|1,200 ~ 4,600|15%|
|4,600 ~ |35%|

즉, 1,300만원을 벌었을 경우 `1,200*0.06 + 100*0.15`를 계산한 결과가 납부해야 하는 세액입니다.

함수 `tax(won)`을 만들고 납부해야하는 세금의 결과를 반환하는 함수를 작성하세요.

**위 이미지를 참고하여 아래 표에 맞춰 답을 작성하세요.**

---

예시)

```python
tax(1200) #=> 72.0
tax(4600) #=> 582.0
tax(5000) #=> 722.0
```

In [ ]:
# 아래에 코드를 작성하세요.

In [8]:
def tax(money):
    if money <= 1200:
        t = money * 0.06
    
    elif money <= 4600:
        t = (1200*0.06) + (money-1200) * 0.15
    
    elif money <= 8800:
        t = (1200*0.06) + (3400*0.15) + ((money-4600)*0.24)
    
    return t

In [9]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(tax(1200))
print(tax(4600))
print(tax(5000))

72.0
582.0
678.0

# 카쉐어링 요금 계산하기

> 카쉐어링 서비스는 요금을 다음과 같이 계산합니다.
>
> 대여는 10분 단위로 가능합니다.
> 
> 1. 대여 요금 : 10분당 1,200원
>
> 2. 보험료 : 30분당 525원 (50분을 빌리면, 1시간으로 계산됩니다.)
>
> 3. 주행 요금 : km당 170원 (주행 요금은 100km가 넘어가면, 넘어간 부분에 대하여 할인이 50% 적용됩니다.)
>
> 예) 160km를 달렸으면, 170\*100 + 85 \*60
>
> 양의 정수인 대여시간(분)과 주행거리를 받아 계산 결과를 반환하는 함수 fee(minute, distance)를 작성하세요.
> 
> 참고 함수 [`math.ceil`](https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/Math/ceil)
---
예시)

```python
fee(600, 50) #=> 91000
fee(600, 110) #=> 100350
```

In [ ]:
# 아래에 코드를 작성하세요.

In [12]:
import math

def fee(time, distance):
    result = time*120 + math.ceil(time/30)*525
    if distance > 100:
        result += 170*100 + 85*(distance-100)
    else:
        result += 170 * distance
    return result

In [13]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(fee(600, 50))
print(fee(600, 110))

91000
100350

# 문자열 탐색

> 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 세는 함수 `start_end`를 작성하세요.

---

예시)

```python
start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']) #=> 3
```

In [ ]:
# 아래에 코드를 작성하세요.

In [2]:
def start_end(words):
    count = 0
    for word in words:
        if len(word) > 1 and word[0] == word[-1]:
            count += 1
    return count

In [3]:
# 해당 코드를 통해 3이 나오는지 확인하세요.
print(start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']))

3


# 이상한 덧셈

> 숫자들을 받아서 양의 정수의 합을 구하는 함수 `positive_sum`을 작성하세요.

---

예시)

```python
positive_sum(1,-4,7,12) #=> 20
positive_sum(-1, -2, -3, -4) #=> 0
```

In [ ]:
# 아래에 코드를 작성하세요.

In [16]:
def positive_sum(*numbers):
    total = 0
    for num in numbers:
        if num > 0:
            total += num
    return total

In [23]:
# 해당 코드를 통해 20과 0이 나오는지 확인하세요.
print(positive_sum(1, -4, 7, 12))
print(positive_sum(-1, -2, -3, -4))

20
0

# Collatz 추측

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눈다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복한다.
>
>     * 예를 들어, 입력된 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 된다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수 `collatz`를 작성하세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환하세요.

---

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1
```

In [ ]:
# 아래에 코드를 작성하세요.

In [33]:
def collatz(n):
    count = 0
    
    # 숫자가 1이 아니라면 계속
    while n != 1:
        if count >= 500:
            # return 으로 함수 종료하기 (break로 반복문 종료하기도 가능)
            return -1
        
        if n % 2:  
            # 홀수면 곱하기 3 더하기 1
            n = 3*n + 1
        else:  
            # 짝수면 나누기 2
            n //= 2
        # 끝나면 카운트 + 1
        count += 1
        
    # n == 1 이 되었으므로 지금까지 count 리턴
    return count

In [34]:
# 해당 코드를 통해 8, 4, 111, -1 이 나오는지 확인하세요.
print(collatz(6))
print(collatz(16))
print(collatz(27))
print(collatz(626331))

8
4
111
-1

# 솔로 천국 만들기

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 함수 `lonely`를 작성하세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

---

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4, 4, 4, 3, 3]) #=> [4, 3]
```

In [ ]:
# 아래에 코드를 작성하세요.

In [2]:
def lonely(numbers):
    # 새로운 리스트에 쌓아나가야 겠다.
    solos = [numbers[0]]
    # 마지막 숫자(시작할 때는 처음 숫자가 마지막)
    last = numbers[0]
    
    # 두번째 숫자(idx 1)부터 순회
    for num in numbers[1:]:
        # 마지막 숫자와 지금 보는 숫자가 다르면
        if last != num:
            # 솔로 추가
            solos.append(num)
        
        # 마지막 숫자 갱신
        last = num
    
    return solos

In [3]:
# 해당 코드를 통해 [1, 3, 0, 1]과 [4, 3]이 나오는지 확인하세요.
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]